.comingSoonPage {
  color: #39414B;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  h1 {
    width: 50%;
    height: 200px;
    border-radius: 18px;
    padding: 12px;
    text-align: center;
  }
}
